@model VisitaJayaPerkasa.Mvc.Models.UserModel

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>

<div id="toolbar">
    <ul>
        <li>@Html.ActionLink("Back to List", "Index", ViewBag.RouteDicForList as RouteValueDictionary)</li>
    </ul>
</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Edit User was unsuccessful. Please correct the errors and try again.")

@{
    var id = @Html.DisplayTextFor(m => m.Id);
    string userRoles = @Html.DisplayTextFor(m => m.SelectedRoleName).ToString();
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <table>
    <tr>
        <td class="header">@Html.LabelFor(m => m.SelectedRoleName)</td>
        <td class="content">@Html.ActionLink(userRoles, "EditUser", id)</td>
        <td class="spacer">&nbsp;</td>
        <td class="header">@Html.LabelFor(m => m.Username)</td>
        <td class="content">@Html.DisplayFor(m => m.Username)<br/>@Html.ValidationMessageFor(m => m.Username)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.FirstName)</td>
        <td class="content">@Html.EditorFor(m => m.FirstName)<br/>@Html.ValidationMessageFor(m => m.FirstName)</td>
        <td class="spacer">&nbsp;</td>
        <td class="header">@Html.LabelFor(m => m.LastName)</td>
        <td class="content">@Html.EditorFor(m => m.LastName)<br/>@Html.ValidationMessageFor(m => m.LastName)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.MiddleInitial)</td>
        <td class="content">@Html.EditorFor(m => m.MiddleInitial)<br/>@Html.ValidationMessageFor(m => m.MiddleInitial)</td>
        <td class="spacer">&nbsp;</td>
        <td class="header">@Html.LabelFor(m => m.DateOfBirth)</td>
        <td class="content">@Html.EditorFor(m => m.DateOfBirth)<br/>@Html.ValidationMessageFor(m => m.DateOfBirth)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.PhoneNumber)</td>
        <td class="content">@Html.EditorFor(m => m.PhoneNumber)<br/>@Html.ValidationMessageFor(m => m.PhoneNumber)</td>
        <td class="spacer">&nbsp;</td>
        <td class="header" rowspan="3">@Html.LabelFor(m => m.Address)</td>
        <td class="content" rowspan="3">@Html.TextAreaFor(m => m.Address)<br/>@Html.ValidationMessageFor(m => m.Address)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.MobilePhoneNumber)</td>
        <td class="content">@Html.EditorFor(m => m.MobilePhoneNumber)<br/>@Html.ValidationMessageFor(m => m.MobilePhoneNumber)</td>
        <td class="spacer">&nbsp;</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.Email)</td>
        <td class="content">@Html.EditorFor(m => m.Email)<br/>@Html.ValidationMessageFor(m => m.Email)</td>
        <td class="spacer">&nbsp;</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.StartingDate)</td>
        <td class="content">@Html.EditorFor(m => m.StartingDate)<br/>@Html.ValidationMessageFor(m => m.StartingDate)</td>
        <td class="spacer">&nbsp;</td>
        <td class="header">@Html.LabelFor(m => m.Gender)</td>
        <td class="content">@Html.DropDownListFor(m => m.Gender, Model.Genders)<br/>@Html.ValidationMessageFor(m => m.Gender)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.Nik)</td>
        <td class="content">@Html.EditorFor(m => m.Nik)@Html.ValidationMessageFor(m => m.Nik)</td>
        <td class="spacer">&nbsp;</td>
        <td class="header">@Html.LabelFor(m => m.MaritalStatus)</td>
        <td class="content">@Html.DropDownListFor(m => m.MaritalStatus, Model.MaritalStatuses)<br/>@Html.ValidationMessageFor(m => m.MaritalStatus)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.SalaryPerMonth)</td>
        <td class="content">@Html.EditorFor(m => m.SalaryPerMonth)<br/>@Html.ValidationMessageFor(m => m.SalaryPerMonth)</td>
        <td class="spacer">&nbsp;</td>
        <td class="header">@Html.LabelFor(m => m.UmkPerDay)</td>
        <td class="content">@Html.EditorFor(m => m.UmkPerDay)<br/>@Html.ValidationMessageFor(m => m.UmkPerDay)</td>
    </tr>
    <tr>
        <td class="spacer" colspan="5" align="center"><button name="submit">Edit User</button></td>
    </tr>
    </table>
}