@model VisitaJayaPerkasa.Mvc.Models.SupplierModel

@{
    ViewBag.Title = "Edit Supplier";
}

<h2>Edit Supplier</h2>

<p>
    @Html.ActionLink("Back to List", "Index",
    ViewBag.RouteDicForList as RouteValueDictionary)
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Edit Supplier was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <table>
    <tr>
        <td class="header">@Html.LabelFor(m => m.SelectedCategoryCode)</td>
        <td class="content">@Html.DropDownListFor(m => m.SelectedCategoryCode, Model.Categories)@Html.ValidationMessageFor(m => m.SelectedCategoryCode)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.SupplierName)</td>
        <td class="content">@Html.TextBoxFor(m => m.SupplierName)@Html.ValidationMessageFor(m => m.SupplierName)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.Address)</td>
        <td class="content">@Html.TextBoxFor(m => m.Address) @Html.ValidationMessageFor(m => m.Address)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.Phone)</td>
        <td class="content">@Html.TextBoxFor(m => m.Phone) @Html.ValidationMessageFor(m => m.Phone)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.Fax)</td>
        <td class="content">@Html.TextBoxFor(m => m.Fax) @Html.ValidationMessageFor(m => m.Fax)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.Email)</td>
        <td class="content">@Html.TextBoxFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)</td>
    </tr>
     <tr>
        <td class="header">@Html.LabelFor(m => m.ContactPerson)</td>
        <td class="content">@Html.TextBoxFor(m => m.ContactPerson) @Html.ValidationMessageFor(m => m.ContactPerson)</td>
    </tr>
    <tr>
        <td class="header"></td>
        <td class="content"><button name="submit">Edit Supplier</button></td>
    </tr>
</table>
}