@model VisitaJayaPerkasa.Mvc.Models.CityModel

@{
    ViewBag.Title = "Create City";
}

<h2>Create City</h2>

<p>
    @Html.ActionLink("Back to List", "Index",
    ViewBag.RouteDicForList as RouteValueDictionary)
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Create City was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm())
{
    <table>
    <tr>
        <td class="header">@Html.LabelFor(m => m.CityCode)</td>
        <td class="content">@Html.TextBoxFor(m => m.CityCode)@Html.ValidationMessageFor(m => m.CityCode)</td>
    </tr>
    <tr>
        <td class="header">@Html.LabelFor(m => m.CityName)</td>
        <td class="content">@Html.TextBoxFor(m => m.CityName)@Html.ValidationMessageFor(m => m.CityName)</td>
    </tr>
    <tr>
        <td class="header"></td>
        <td class="content"><button name="submit">Create City</button></td>
    </tr>
</table>
}
