@model VisitaJayaPerkasa.Mvc.Models.MenuModel
<ul id="nav">
   @for (int x = 0; x < Model.Menu.Items.Count; x++)
     {
     <li class="top">
        <a href="@Model.Menu.Items[x].Url" class="top_link"><span class="down">@Model.Menu.Items[x].Text</span></a>     
        @if (Model.Menu.Items[x].Items.Count > 0)
        {
          <ul class="sub">
            @for (int y = 0; y < Model.Menu.Items[x].Items.Count; y++)
              {
              if (!String.IsNullOrWhiteSpace(Model.Menu.Items[x].Items[y].Section)) {
               <li>@Model.Menu.Items[x].Items[y].Section</li>
              } else {
                <li><a href="@Model.Menu.Items[x].Items[y].Url">@Model.Menu.Items[x].Items[y].Text</a></li>
              }
            }
          </ul>
        }
     </li>
   }
</ul>